<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date.beginning_of_month.beginning_of_week..start_date.end_of_month.end_of_week).to_a %>

<div class="calendar">
  <div class="month_selection">
    <%= link_to start_date: date_range.first - 1.day do %>
    <div class="fa fa-arrow-left" aria-hidden="true" ></div>
    <% end%>
    <div><%= start_date.strftime("%B") %></div>
    <%= link_to start_date: date_range.last + 1.day do %>
    <div class="fa fa-arrow-right" aria-hidden="true" ></div>
    <% end %>
  </div>

  <div class="calendar_head_wrap">
    <% date_range.slice(0,7).each do |day| %>
    <div class="calendar_head"> <%= day.strftime("%A") %></div>
    <% end %>
  </div>

  <div class="calendar_week_wrap">
    <% date_range.each_slice(7) do |week| %>
    <div class="calendar_week">
      <% week.each do |day| %>

        <% if day == Date.today
          day_class = "current_day"
        elsif day.month == start_date.month
          day_class =  "current_month"
        else
          day_class = "not_current_month"
        end %>

        <div class="calendar_day <%= day_class %>" >
        <%= link_to  new_appointment_path(:appointment => {:start => day, :end => day }), class: "overlay" do  %><% end %>
             <div class="day_number">  <%= day.mday %> </div>
              <div class="appointment_wrapper">
              <% @appointments.select{ |m| m.start.to_date == day}.sort_by(&:start).each do |appointment| %>
                <%= link_to appointment, class: "link-text-color" do  %>
                <div class="appointment">
                  <div><%= appointment.Name %> </div>
                  <div><%= appointment.start.strftime("%H.%M") %></div>
                </div>

                <% end %>
              <% end %>
              </div>
              </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
